{% extends "core/base.html" %}
{% load static %}
{% block title %}Globetrekker tours{% endblock %}
{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Hotels List</h2>
    <div class="row">
        {% for hotel in hotels %}
        <div class="col-md-6 col-xl-4 mb-5">
            <div class="card h-100 border-0 shadow">
                <img src="{% static 'img/hotel-placeholder.jpeg' %}" class="card-img-top" alt="Hotel Image">
                <div class="card-body">
                    <h5 class="card-title">{{ hotel.name }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ hotel.city }}, {{ hotel.country }}</h6>
                    <div class="my-2">
                        <i class="fas fa-bed"></i> Total Rooms: {{ hotel.total_rooms }}
                    </div>
                    <div class="my-2">
                        <i class="fas fa-tag"></i> Nightly Rate: ${{ hotel.nightly_rate }}
                    </div>
                    <a href="{% url 'booking:create_booking' service_type='hotel' service_id=hotel.id %}" class="btn btn-primary">Book Now</a>
                    <a href="{% url 'hotel:hotel_detail' id=hotel.id %}" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
